<div class="wrapper style1">

  <div class="container">
    <div class="row">
      <div class="12u skel-cell-mainContent" id="content">
        <article id="main" class="special">
          <header>
            <h2><a href="#"><%= title %></a></h2>
            <span class="byline" style="margin-bottom: 1em">
              <%= description %>
            </span>
            <h3 class="author-date">
              <% if (this.authorUrl) { %>
                <a href="<%= authorUrl %>" target="_blank"><%= author %></a>
              <% } else { %>
                <%= author %>
              <% } %>
              &middot; 
              <%= date %>
            </h3>
          </header>

          <%- yield %>

        </article>
      </div>
    </div>
  </div>

</div>
